@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #DADADA;
}

::-webkit-scrollbar-thumb {
  background: unset;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #DADADA transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #DADADA;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #DADADA;
  border-radius: 6px;
  border: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: unset;
}

@keyframes slide-up {
  from {
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
  }
  to {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-down {
  from {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
  to {
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
  }
}

.animate-slide-up {
  animation: slide-up 0.1s ease-out forwards;
}

.animate-slide-down {
  animation: slide-down 0.1s ease-in forwards;
}